<div id="<%= dom_id agency %>">
  <div>
    <strong>Name:</strong>
    <%= agency.name %>
  </div>

  <div>
    <strong>Iata number:</strong>
    <%= agency.iata_number %>
  </div>

  <div>
    <strong>Default commission rate:</strong>
    <%= agency.default_commission_rate %>
  </div>

</div>
