<div id="<%= dom_id advisor %>">
  <div>
    <strong>Name:</strong>
    <%= advisor.name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= advisor.email %>
  </div>

  <div>
    <strong>Agency:</strong>
    <%= advisor.agency_id %>
  </div>

</div>
